/* You can add global styles to this file, and also import other style files */

*, html, body {
    font-family: 'Times New Roman', sans-serif;
    
}

body{
    text-align: center;
}

h1 {
    font-weight: lighter;
}